/* Reset default browser styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Global styles */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
}

header {
    background-color: #fff;
    color: #fff;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.headerImage {
    width: 250px;
    height: 100px;
}

nav ul {
    list-style: none;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

#banner {
    background-color: #f8f9fa;
    padding: 50px;
    text-align: center;
}

#services {
    padding: 50px;
    text-align: center;
}

footer {
    background-color: #0c6e1e;
    color: #fff;
    text-align: center;
    padding: 20px;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding-top: 50px;
    padding-bottom: 0px;
}

.column {
    flex: 1;
    padding: 0 20px;
    text-align: center;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
}

h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

.subtitle {
    font-size: 16px;
    margin-bottom: 20px;
}

button {
    background-color: #fa6200;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    border-radius: 12px;
    width: 500px;
}

button:hover {
    background-color: #fa6200;
}
